<%-include('header')-%>

<div class="text-center center-div-mt-5" id="login">
    <div class="container w-25 border py-5 mt-5">
        <h3> welcome </h3>
        <h5><%=locals.user ? user : "User"%></h5>
        <a href="/logout">Logout</a>
    </div>
</div>

<script>
    function disableBack() {
    window.history.forward();
  }
  window.onload = disableBack();
  window.onpageshow = function (evt) {
    if (evt.persisted) disableBack();
  };
</script>

<%-include('footer')-%>